<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16869965765-o48ch94tj1q7nr4o53dornmj5f2t8f28.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16869965765-o48ch94tj1q7nr4o53dornmj5f2t8f28</string>
	<key>API_KEY</key>
	<string>AIzaSyBIBxyJXtxIaZzgdV3BCAvfdDCvRPIBSb8</string>
	<key>GCM_SENDER_ID</key>
	<string>16869965765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-firebase-a40d4</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-firebase-a40d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16869965765:ios:b87cb22cf0301859cc95ac</string>
</dict>
</plist>